<% if @post.favorited_by?(current_user) %>
  <h4>
    <%= link_to post_favorite_path(@post), style: "color: red", method: :delete, remote: true do %>
      ♥ <%= @post.favorites.count %>いいね
    <% end %>
  </h4>
<% else %>
  <h4>
    <%= link_to post_favorite_path(@post), method: :post, remote: true do %>
      ♡ <%= @post.favorites.count %>いいね
    <% end %>
  </h4>
<% end %>