<div class="container">
  <div class="texts-wrapper">
    <div class="contents-title">
      <div class="row">
        <div class="col-9">
          <h2 class="mt-5 text-left bg-brown">レシピ一覧(全<%= @post.count %>件)</h2>
          <div class="row">
            <% @post.each do |post| %>
             <div class="col-md-3 my-4">
              <div class="card w-100 bg-transparent border-0" style="width: 18rem;">
                <%= link_to post_path(post.id) do %>
                  <%= image_tag post.get_post_image(285,135) %>
                <% end %>
                <div class="card-body">
                  <%= post.name %></br>
                </div>
              </div>
             </div>
           <% end %>
      </div>
    </div>
  </div>
</div>
