<div class="container">
  <h3>レシピ投稿</h3>
  <%= render 'error' %>
  <%= form_with(model: @post, local: true) do |f| %>
    <%= render 'form', f: f %>
    <div class="row my-5 justify-content-end">
      <%= f.submit "レシピを投稿する", class:"btn btn-lg btn-success" %>
    </div>
  <% end %>
</div>


