<div class="main-visual-content">
 <h4 class="main-visual-text" id="heading">
    一人暮らしを始めて自炊に不安、料理に自信がない人へ<br>
    このサイトでは手軽に作れるお酒のおつまみや<br>ちょっとした一品を紹介<br>
    見た目にはこだわらない、美味しければなんでもOK！<br>そんな人向けのサイトです。
 </h4>    
</div>
 