<div class="main-visual-content" style="width: 100%; height: 300px; background-color: rgba(0, 0, 0, 0.5); text-align: center; padding-top: 20px; position: center;">
  <p class="main-visual-text" id="heading" style="color: #fff; font-size: 18px; line-height: 2.0;">
    一人暮らしを始めて自炊に不安、<br>料理に自信がない人へ<br>
    このサイトでは手軽に作れるお酒のおつまみや<br>ちょっとした一品を紹介<br>
    見た目にはこだわらない、<br>美味しければなんでもOK！<br>そんなレシピを集めるサイトです。
  </p>    
</div>

 