@use '~bootstrap/scss/bootstrap';

#loading {
  transition: all ls;
  background-color: #fff;
  position: fixed;
  z-index: 9999;
  inset: 0;
  display: grid;
  place-items: center;
}

.spinner {
  width: 200px;
  height: 200px;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  background-size: cover;
  background-attachment: fixed;
  flex: 1;
}

footer {
  margin-top: auto;
}

.main-visual {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  width: 60%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 40px;
  position: center;
}

.main-visual-text {
  color: #fff;
  line-height: 2;
}

.bg-logo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top-bg {
  background-color: rgba(0, 0, 0, 0.5);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-size: 50% 75%;
  font-size: 16px;
  line-height: 2;
}

.wood {
  color: #fff;
}

.card-img-top {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.comment-box {
  background-color: rgba(250, 250, 250, 1);
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.date-box {
  margin-top: 10px;
  color: #555;
}

.tbody {
  background-color: rgba(250, 250, 250, 0.8);
}

.image {
  border: 3px solid #ccc; 
  padding: 30px;
}

.under-line {
  border-bottom: 10px solid #ccc;
}

.custom-width {
  width: 300px;
}

ol li {
  border-bottom: 3px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.pagination {
  justify-content: center;
}