<h3>通報一覧</h3>

<table class="table">
  <thead>
    <tr>
      <th>通報ID</th>
      <th>会員名</th>
      <th>通報者</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td>
          <%= link_to report.id, admin_report_path(report) %>
        </td>
        <td>
          <%= report.reported.name %>
        </td>
        <td>
          <%= report.reporter.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>