<div class="container">
  <div class="row mt-5">
    <h3>通報一覧</h3>
     <table class="table">
       <thead>
         <tr>
           <th>通報ID</th>
           <th>通報対象</th>
           <th>通報者</th>
           <th>確認ステータス</th>
         </tr>
       </thead>
       <tbody>
         <% @reports.order(created_at: :desc).each do |report| %>
          <tr>
            <td>
              <%= link_to report.id, admin_report_path(report) %>
            </td>
            <td>
              <%= report.reportable_type %>
            </td>
            <td>
              <%= report.reporter.name %>
            </td>
            <td>
              <%= report.confirmed ? '確認済み' : '未確認' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

