<table class='table'>
  <tr>
    <th style="width: 200px; font-size: 20px;">ユーザー名　<i class="fa-solid fa-user"></i></th>
    <td style="font-size: 20px;"><%= user.name %></td>
  </tr>
  <tr>
    <th style="width: 200px; font-size: 20px;">自己紹介　<i class="fa-regular fa-address-card"></i></th>
    <td style="font-size: 20px;"><%= user.introduction %></td>
  </tr>
  <% if @user == current_user %>
  <tr>
    <td colspan="2" class="text-center">
      <%= link_to "編集する", edit_user_path, class: 'btn btn-success' %>
    </td>
  </tr>
  <% end %>
</table>

